* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: white;
    font-family: 'Lato', sans-serif;
}

.sfondoTop {
    background-color: rgb(26, 101, 92);
    height: 15vh;
}


.sfondoBottom {
    background-color: lightgrey;
    height: 85vh;
    position: relative;
}


.container {
    background-color: beige;
    position: absolute;
    top: 1.875rem;
    bottom:1.875rem ;
    right: 6.25rem;
    left:6.25rem;  
    width: calc(100%-12.5rem);
    height: calc(100%-3.75rem);
    display: flex;
}
/* sinistra */
.majorSX{
    width: 35%;
    background-color: rebeccapurple;
    height: 100%;
}

header{
    background-color: black;
    height: 3.125rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.icone{
    padding: 20px;
    font-size: large;
}

.fa-solid{
    padding: 5px;
}

.notifiche {
    background-color: lightblue;
    height: 4.375rem;
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.rap{
    padding-left: 10px;
}

.bell{
    background-color: lightgray;
    border: 20px;
    border-radius: 55px;
}

.attiva{
    text-decoration: underline;
}

.search{
    background-color: lightgoldenrodyellow;
    height: 30px;
    display: flex;
    justify-content: center;
    padding:5px 0px ;

}

.find{
    width: 97%;
    padding: 5px;
}

/* destra */

.majorDX{
    width: 65%;
    background-color: lightcoral;
    height: 100%;
}

.text{
    height: calc(100% - 6.875rem);
    background-image: url(IMG/mine.jpg);
}


footer{
    background-color: red;
    height: 3.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0px 20px;
}

.write{
    width: 100%;
    height: 50px;
    padding: 10px;
}

.fa-face-smile{
    padding-right: 30px;
}

.fa-microphone{
    padding-left: 30px;
}